[submodule "mkosi"]
	path = pxe/mkosi
	url = https://github.com/systemd/mkosi.git
[submodule "pxe/ipxe/upstream"]
	path = pxe/ipxe/upstream
	url = https://github.com/ipxe/ipxe.git
	ignore = dirty
[submodule "helm-prereqs/nv-rms"]
	path = helm-prereqs/nv-rms
	url = https://github.com/dsx-ai-factory/nv-rms.git
