{% extends "base.html" %}

{% block title %}DPU Versions{% endblock %}

{% block content %}
<div id="json"><a id="json-link" href="">JSON</a></div>
<h1>DPU Versions ({{ page.total_items() }})</h1>

<table class="sortable overview">
	<thead>
	<tr>
		<th>DPU ID</th>
		<th>Host ID</th>
		<th>State</th>
		<th>DPU Type</th>
		<th>DPU Agent</th>
		<th>NIC FW</th>
		<th>BMC</th>
		<th>BIOS</th>
		<th>HBN</th>
	</tr>
	</thead>
	<tbody>
	{% for m in machines %}
		<tr>
			<td>{{ m.dpu_machine_id|machine_id_link|safe }}</td>
			<td>{{ m.host_machine_id|machine_id_link|safe }}</td>
			<td>
				{% if m.state == "Ready" || m.state == "Assigned/Ready" %}
					<span class="bubble success">{{ m.state }}</span>
				{% else if m.state.to_lowercase().contains("failed") %}
					<span class="bubble error">{{ m.state }}</span>
				{% else %}
					<span class="bubble">{{ m.state }}</span>
				{% endif %}
			</td>
			<td>{{ m.dpu_type }}</td>
			<td>{{ m.dpu_agent_version }}</td>
			<td>{{ m.firmware_version }}</td>
			<td>{{ m.bmc_version}}</td>
			<td>{{ m.bios_version }}</td>
			<td>{{ m.hbn_version }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% include "pages_footer.html" %}

{% endblock %}
