{% extends "base.html" %}

{% block title %}InfiniBand Partitions{% endblock %}

{% block content %}
<div id="json"><a id="json-link" href="">JSON</a></div>
<h1>InfiniBand Partitions</h1>

<table class="sortable overview">
	<thead>
		<th>Id</th>
		<th>Tenant</th>
		<th>Name</th>
		<th>Labels</th>
		<th>State</th>
		<th>Pkey</th>
	</thead>
	<tbody>
		{% for p in partitions %}
		<tr>
			<td><a href="/admin/ib-partition/{{ p.id }}">{{ p.id }}</a></td>
			<td><a href="/admin/tenant/{{ p.tenant_organization_id }}">{{ p.tenant_organization_id }}</a></td>
			<td>{{ p.metadata.name }}</td>
			<td>{{ p.metadata.labels|label_list_fmt(true)|safe }}</td>
			<td>
				{% if p.state.to_lowercase().contains("failed") %}
					<span class="bubble error">{{ p.state }}{% if p.time_in_state_above_sla %} ⏱️{% endif %}</span>
				{% else if p.time_in_state_above_sla %}
					<span class="bubble warning">{{ p.state }} ⏱️</span>
				{% else if p.state == "Ready" || p.state == "Assigned/Ready" %}
					<span class="bubble success">{{ p.state }}</span>
				{% else %}
					<span class="bubble">{{ p.state }}</span>
				{% endif %}
			</td>
			<td>{{ p.pkey }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
