{% extends "base.html" %}

{% block title %}Network Segments{% endblock %}

{% block content %}
<div id="json"><a id="json-link" href="">JSON</a></div>
<h1>Network Segments</h1>

<h2>Admin</h2>
<table class="sortable overview">
	<thead>
		<th>Name</th>
		<th>Id</th>
		<th>Created</th>
		<th>State</th>
		<th>Sub Domain</th>
		<th>MTU</th>
		<th>Prefixes</th>
		<th>Version</th>
	</thead>
	<tbody>
		{% for ns in admin %}
		<tr>
			<td><a href="/admin/network-segment/{{ ns.id }}">{{ ns.name }}</a></td>
			<td>{{ ns.id }}</td>
			<td>{{ ns.created }}</td>
			<td>
				{% if ns.state.to_lowercase().contains("failed") %}
					<span class="bubble error">{{ ns.state }}{% if ns.time_in_state_above_sla %} ⏱️{% endif %}</span>
				{% else if ns.time_in_state_above_sla %}
					<span class="bubble warning">{{ ns.state }} ⏱️</span>
				{% else if ns.state == "Ready" || ns.state == "Assigned/Ready" %}
					<span class="bubble success">{{ ns.state }}</span>
				{% else %}
					<span class="bubble">{{ ns.state }}</span>
				{% endif %}
			</td>
			<td>{{ ns.sub_domain }}</td>
			<td>{{ ns.mtu }}</td>
			<td>{{ ns.prefixes }}</td>
			<td>{{ ns.version|config_version|safe }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Underlay</h2>
<table class="sortable overview">
	<thead>
		<th>Name</th>
		<th>Id</th>
		<th>Created</th>
		<th>State</th>
		<th>Sub Domain</th>
		<th>MTU</th>
		<th>Prefixes</th>
		<th>Version</th>
	</thead>
	<tbody>
		{% for ns in underlay %}
		<tr>
			<td><a href="/admin/network-segment/{{ ns.id }}">{{ ns.name }}</a></td>
			<td>{{ ns.id }}</td>
			<td>{{ ns.created }}</td>
			<td>
				{% if ns.state.to_lowercase().contains("failed") %}
					<span class="bubble error">{{ ns.state }}{% if ns.time_in_state_above_sla %} ⏱️{% endif %}</span>
				{% else if ns.time_in_state_above_sla %}
					<span class="bubble warning">{{ ns.state }} ⏱️</span>
				{% else if ns.state == "Ready" || ns.state == "Assigned/Ready" %}
					<span class="bubble success">{{ ns.state }}</span>
				{% else %}
					<span class="bubble">{{ ns.state }}</span>
				{% endif %}
			</td>
			<td>{{ ns.sub_domain }}</td>
			<td>{{ ns.mtu }}</td>
			<td>{{ ns.prefixes }}</td>
			<td>{{ ns.version|config_version|safe }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Tenant</h2>
<table class="sortable overview">
	<thead>
		<th>Name</th>
		<th>Id</th>
		<th>VPC ID</th>
		<th>Created</th>
		<th>State</th>
		<th>Sub Domain</th>
		<th>MTU</th>
		<th>Prefixes</th>
		<th>Version</th>
	</thead>
	<tbody>
		{% for ns in tenant %}
		<tr>
			<td><a href="/admin/network-segment/{{ ns.id }}">{{ ns.name }}</a></td>
			<td>{{ ns.id }}</td>
			<td><a href="/admin/vpc/{{ ns.vpc_id }}">{{ ns.vpc_id }}</a></td>
			<td>{{ ns.created }}</td>
			<td>
				{% if ns.state.to_lowercase().contains("failed") %}
					<span class="bubble error">{{ ns.state }}{% if ns.time_in_state_above_sla %} ⏱️{% endif %}</span>
				{% else if ns.time_in_state_above_sla %}
					<span class="bubble warning">{{ ns.state }} ⏱️</span>
				{% else if ns.state == "Ready" || ns.state == "Assigned/Ready" %}
					<span class="bubble success">{{ ns.state }}</span>
				{% else %}
					<span class="bubble">{{ ns.state }}</span>
				{% endif %}
			</td>
			<td>{{ ns.sub_domain }}</td>
			<td>{{ ns.mtu }}</td>
			<td>{{ ns.prefixes }}</td>
			<td>{{ ns.version|config_version|safe }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
