{% extends "base.html" %}

{% block title %}Resource Pools{% endblock %}

{% block content %}
<div id="json"><a id="json-link" href="">JSON</a></div>
<h1>Resource Pools</h1>
<table class="sortable overview">
	<thead>
		<tr>
			<th>Name</th>
			<th>Min</th>
			<th>Max</th>
			<th>Size</th>
			<th>Used</th>
		</tr>
	</thead>
	<tbody>
		{% for pool in pools %}
		<tr>
			<td>{{ pool.name }}</td>
			<td>{{ pool.min }}</td>
			<td>{{ pool.max }}</td>
			<td>{{ pool.total }}</td>
			<td>{{ pool|resource_pool_allocated_fmt }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
